<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.einsatzinfo"
    versionCode = "4" 
    version     = "1.3.0" >

<!-- <gap:plugin name="org.apache.cordova.device" /> -->
<gap:plugin name="hu.dpal.phonegap.plugins.uniquedeviceid" />
<gap:plugin name="org.apache.cordova.network-information" />
<gap:plugin name="org.apache.cordova.dialogs" />
<!-- whitelistplugin - Um auf schwitte.de zuzugreifen -->
<plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="1.1.1" source="pgb" />

    <name>Einsatzinfo</name>

    <description>
      Einsatzinfo - Sende deinen Liebsten, dass du dich auf einem Einsatz befindest
    </description>

    <author href="http://www.schwitte.de" email="phonegap@schwitte.de">
      Maik Schwitte
    </author>
    <icon src="icon.png" />
    <feature name="http://api.phonegap.com/1.0/network"/>
<!--     <feature name="http://api.phonegap.com/1.0/notification"/>
<feature name="Notification">
    <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
</feature> -->

<access origin="https://schwitte.de" subdomains="true" />
<allow-navigation href="https://schwitte.de/*" />
</widget>