<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.einsatzinfo"
    versionCode = "1" 
    version     = "1.0.0" >

<gap:plugin name="org.apache.cordova.device" />

    <name>Einsatzinfo</name>

    <description>
      Einsatzinfo - Sende deinen Liebsten, dass du dich auf einem Einsatz befindest
    </description>

    <author href="http://www.schwitte.de" email="phonegap@schwitte.de">
      Maik Schwitte
    </author>
    <icon src="icon.png" />
    <feature name="http://api.phonegap.com/1.0/network"/>
</widget>